<% if @users.length != 0 %>
  <% @users.each do |user|  %>
    <div class="product">
      <% if user.avatar? %>
        <!-- Decalre the link to retrieve the photo -->
        <%= cl_image_tag(user.avatar.path, height: 117, width: 175, crop: :fill, class: 'product-image') %>
      <% else %>
        <img src="http://unsplash.it/300/200" alt="substitute" class="product-image hidden-xs" data-toggle="tooltip" data-placement="left" title="country.description">
      <% end %>
      <div class='product-body'>
        <h3> <%= user.email %> </h3>
      </div>
  <% end %>
<% else %>
  <!--Message is displayed if the list is empty -->
  <span class="empty-list-message message-centered">Users list is empty. No user available</span>
<% end %>
