<h1>Countries</h1>

<div class="container text-center">
  <table class="table-bordered table-striped">
    <tr>
      <th>Code</th>
      <th>Label</th>
      <th>Active</th>
      <th>Details</th>
    </tr>
    <% @countries.each do |country|  %>
      <tr>
        <td><%= country.code %></td>
        <td><%= country.label %></td>
        <td><%= country.active %></td>
        <td><%= link_to "details",country_path(country) %></td>
      </tr>
    <% end %>
  </table>

</div>
