<div class="work-area">
  <h2>Categories</h2>
  <div class="container text-center">
    <ul>
      <% @categories.each do |category|  %>
        <li>  <%= category %> </li>
      <% end %>
    </ul>
  </div>  
</div>
