<div class="search-width">
  <%= form_tag regionals_path, class: "form-inline" , method: "get" do %>
    <%= render "components/search-bar-2" %>
    <%= link_to new_regional_path do %>
      <button type="button" name="New" class="btn action spacing-search">New</button>
    <% end %>
  <% end %>
</div>